
{% block header %}


<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
  <div class="container-fluid">
    <img class="header_img" src="assets/images/Mdl-removebg.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href={{path('app_principal')}}>Accueil</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Dates du congrès</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path('ateliers')}}>Ateliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path('formules')}}>Formules hébergement</a>
        </li>
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href={{path('reserverAteliers')}}>Réserver des ateliers</a>
          </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href={{(app.user)? path('app_logout') : path('app_login')}} >{{(app.user)? 'Se déconnecter' : 'Se connecter'}}</a>
        </li>
      </ul>
        {% block searchbar %}
         {% include 'elements/searchbar.html.twig' %}
     {% endblock %}
    </div>
  </div>
</nav>
{% endblock %}