{% extends 'base.html.twig' %}
{% block body %}
{# {{dump(formulesData)}} #}
<style>
    .display-5{height:115px!important}
    .gridFormules{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2% 2%;
        row-gap: 2%; 
        column-gap: 2%; 
        margin-bottom:2%
    }
</style>
{# {{dump(formulesData)}} #}
<style>
    .gridFormules{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2% 2%;
        row-gap: 2%; 
        column-gap: 2%; 
        margin-bottom:2%
    }
</style>

<div class="gridFormules">
    {% for formule in formulesData %}
        <div class="bg-light me-md-3 pt-3 px-3 w-100 pt-md-5 px-md-5 text-center overflow-hidden" >
            <div class="my-3 py-3">
                <h2 class="display-5">{{formule.nom}}</h2>
                <p class="lead">{{formule.adresse1}}, {{formule.cp}} {{formule.ville}}</p>
            </div>
            <div class="fiche text-light bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;padding:7%">
                {% for tarif in formule.tarifs %}
                    <div>Chambre {{tarif.categorie.libelleCategorie}} : {{tarif.tarifNuite}} €  </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
