{% extends 'base.html.twig' %}

{% block body %}
<style>
.reservation{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%
}

.gridAteliers{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2% 2%;
    row-gap: 2%; 
    column-gap: 2%; 
    margin-bottom:2%
    
}
.selectedAtelier {box-shadow: 10px 5px 5px gray;}
.dateReservation{}

.boxtitle span , .recapRes{
    color: darkgreen;
}
.input-group.mb-3{
    padding-left: 10%;
}
.input-group.mb-3:nth-child(2) {
    padding-top: 2%;
}
.btnSubmitFormReserverAterlier{
    margin-left: 10%;
}
.divMacro {
    width: 50%;
    display: inline-block;
    padding-top: 2%;
}
input[type="radio"] {
    margin: 2%;
}
input.form-control {
    
}
.datesCongres {
    /* width: 100% */
    padding-left: 30%;
    margin-right: 2%;
}
button#btnValiderReservation {
    margin-top: 2%;
}
</style>

{% if app.user.inscription %}
    <div class="reservation">
        <input id="inputAtelier" name="idAtelier" value="" hidden />
        <h1 class="title">Inscription aux ateliers</h1>
        <div class="boxtitle">
            <h2 class="steps">Etape 1</h2>
            <span>Veuillez choisir un ou plusieurs ateliers</span>
        </div>
        <div class="gridAteliers">
            {% for index,atelier in ateliersData %}
                <div class="card bg-light me-md-3 pt-3 px-3 w-100 pt-md-5 px-md-5 text-center overflow-hidden" idAtelierSelected="{{atelier.id}}" >
                    <div class="my-3 py-3"><h4 class="display-5">{{atelier.libelle}}</h4></div>
                    <div class="fiche bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;padding:2%">
                        {% for theme in atelier.themes %}
                        <div class="text-light" >{{theme.libelle}}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <input name="idFormule" value="" hidden />
        <div class='divFormule'>
            <h1>Ajouter une Nuite</h4>
            <h2>Etape 2 </h2>
            <div class="recapRes">Recap des réservations : <span class="recapReservation"></span></div>
            <div class="divMacro">
                <select class="form-control selectFormule">
                    {% for formule in formulesData %}
                        <option value={{formule.id}}>{{formule.nom}}</option>
                    {% endfor %}
                </select>
                <div id="informationTarifsHotel"></div>
            </div>
        </div>
        <button id="btnValiderReservation" class="btn btn-primary">Valider la réservation</button>
    </div>
{% else %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>Vous n'êtes pas inscrit(e) ?</strong><a href="" id="inscrire" name="inscrire"> Cliquez ici pour vous inscrire.<a/>
    </div>
{% endif %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 <script>
    $('#btnValiderReservation').hide();
    $('.divFormule').hide();
    const tabIdAteliers =[];
    const tabNuites =[];
    $('.card').click(function(){
        if($(this).hasClass('selectedAtelier')){
            tabIdAteliers.splice($.inArray($(this).attr('idAtelierSelected'), tabIdAteliers), 1 );
            $(this).removeClass('selectedAtelier');
        }else{
            if(tabIdAteliers.length >= 5 ){
                alert('Vous ne pouvez choisir que 5 ateliers maximum');
            }else{
                tabIdAteliers.push($(this).attr('idAtelierSelected'));
                $(this).addClass('selectedAtelier');
            }
        }
        $('.divFormule').show();
    });

    $('.selectedAtelier').click(function(){
        $(this).removeClass('selectedAtelier');
    });

    $('.btnAddMacro').click(function(){
        if(confirm('Ajouter une nouvelle nuite ?')) {
            $.ajax({
                method: "POST",
                url: "ajaxAddFormule",
                success: function (result) {
                    $('.divMacro').append(result);
                }
            });
        }
    });

    $('.selectFormule').change(function(){
        $.ajax({
            method: "POST",
            url: "ajaxShowPartialTarifsFormule",
            data :{'idhotel' : $(this).val()},
            success: function (result) {
                $('#informationTarifsHotel').html(result);
            }
        });
    });

    $('#btnValiderReservation').click(function(){
        if(confirm('Vous allez valider la réservation')) {
            $.ajax({
                method: "POST",
                url: "ajaxValiderReservation",
                data: {
                    'idsAteliers' :JSON.stringify(tabIdAteliers),
                    'tabNuites': JSON.stringify(tabNuites),
                },
                success: function (result) {
                    location.reload();
                }
            });
        }
    });
    
    $('#inscrire').click(function(){
        if(confirm('Etes-vous sur de valider votre inscription')) {
            $.ajax({
                method: "POST",
                url: "inscription",
                success: function(results) { 
                    location.reload();
                }
            });
        }
    });

</script>




{% endblock %}
