
<style>
#btnAddTarif{
    background-color: #d2e7d6;
    border: 1px;
}

</style>
{% for hotel in hotelData %}
    {% for tarif in hotel.tarifs %}
        <input name="radioTarif" type="radio" idTarif="{{tarif.id}}" html="{{tarif.categorie.libelleCategorie}} {{tarif.tarifNuite}} €"/>{{tarif.categorie.libelleCategorie}} {{tarif.tarifNuite}} €
    {% endfor %}
{% endfor %}

<div class="datesCongres" name="datesCongres">
    <div class="input-group mb-3" style="width: 50%;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="labelDate1">Date de début</span>
        </div>
        <input class="form-control" type="date" name="dateReservation1"/>
    </div>
    <div class="input-group mb-3" style="width: 50%;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="labelDate2">Date de fin</span>
        </div>
        <input class="form-control" type="date" name="dateReservation2" disabled/>
    </div>
</div>
<button id="btnAddTarif" class="btn btn-warning"><i class="fas fa-plus"></i> Ajouter</button>

<script>

$('input[name = "dateReservation1"]').change(function(){
    $('input[name = "dateReservation2"]').prop('disabled', false);
    $('input[name = "dateReservation2"]').attr('min',$('input[name = "dateReservation1"]').val());
    $('input[name = "dateReservation2"]').val(null);

})

$('#btnAddTarif').click(function(){
    if(confirm('Ajouter cette nuitée ?')) {
        let idproposition=$('input[name="radioTarif"]:checked').attr('idTarif');
        let date1=$('input[name="dateReservation1"]').val();
        let date2=$('input[name="dateReservation2"]').val();
        if(date1 != "" && date2 != "" && date2 > date1 && idproposition != "" && verifTarifSelected() ){
            tabNuites.push({"idPropodition":idproposition,"date1":date1,"date2":date2});
            $('#btnValiderReservation').show();
            $('.recapReservation').append('<div  class="alert alert-info" style="margin: 1% 20%;">'+$('.selectFormule option:selected').html() +', chambre '+$('input[name="radioTarif"]:checked').attr('html')+'</div>');
        }else{
            alert('Veuillez compléter tout les champs');
        }

    }
})
function verifTarifSelected(){
    var isChecked =false;
    $('input[name = "radioTarif"]').each(function(index){
        if($(this).is(':checked')){isChecked = true}
    })
    return isChecked;
}
</script>